<%- include layout/header.ejs %>
    <div class="container">

    <h1><%= title %></h1>
    
    <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead"> Cosmetica natural, sin quimicos, sin tacc </p>
            <hr class="my-4">
        <p>Queremos cuidar tu piel</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">+ Info</a>    
    </div>

  </div>

  <%- include layout/footer.ejs %>